#root{
  width: 100%;
}
.topicBox{
    background:linear-gradient(to right,#bb446a,#953050,#7c2343);
    height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;
}
.content{
  
  width: 80%;
  margin: auto;
    margin-top: 5%;
    
} 
.table01{
  
    border: 1px solid;
    margin-right: 5% !important;
    border-radius: 15px;
    

}


.table02{
    border-radius: 15px;
    border: 1px solid;
width: 50%; 
}
.table02 td{
  width:5%;
}
.table01,.table02{
   
   margin: 0 ;
 
   padding: 10px;
   height: 50%;

}
input{
  width: 80px;
  background-color: white;
  border: none;
  color: black;
}
.remove{
  border-radius: 50%;
  background-color: rgb(230, 48, 48) ;
  padding: 0px 8px ;
}
.remove:hover{
  background-color: rgb(207, 5, 5);
  border-color: rgb(207, 5, 5) ;
}

.Bookingtr th,.Bookingtr td{
    width:5%;
}
.servicedropdown{
  margin-top: 5%;
  margin-bottom: 5%;
    
    width: 50%;
    border-radius: 20px;
    align-items: center ;
    display: flex;
    justify-content: center;
     background-color: #b8325d ;
    border-color: #bb446a ;
    
}

.servicedropdown [disabled] {
  cursor: not-allowed;
}


.servicedropdown:hover{
  background-color: #7c2343;
  border-color: #7c2343;
}

.Menu{
    text-align: center;
}
.Item:hover{
    background-color: #b1b1b1 ;
}
@media (max-width: 768px) {
   
    .servicedropdown{
      margin: 5%;}
    .table01, .table02 {
      
      width: 90%;
      margin-left: 5%;
    }
    .Bookingtr th,.Bookingtr td{
      width:5% ;
    }
    .table02 .t2tr {
      padding: 5px ;
    }
  
    .payment-button {
      margin: 5%;

    }
  
    .table th {
      text-align: center;
    }
    .content ,.servicedropdown{
      font-size: 12px;
    }
  }
 

.payment-button {
  padding: 10px 40px;
  background-color: #b8325d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
margin-top: 2%;
display: flex;
justify-content: center;
  
}

.payment-button:hover {
  background-color: #7c2343;
}

.payment-button:disabled {
  background-color: #bb6e8a;
  cursor: not-allowed;
}

/* Style for the Remove button */
button[disabled] {
  cursor: not-allowed;
}

/* Style for the disabled discount input */
.discount-input:disabled {
  cursor: not-allowed;
}

  @media (max-width: 480px) {
    .topicBox p {
      font-size: 30px;
      align-content: center;


    }
    .content,.servicedropdown{
      font-size: 10px;
      
    }
  .table02{
    margin: auto !important;
  }
    .servicedropdown-section {
      text-align: center;
    }
  }
