.topicBox{
    background:linear-gradient(to right,#bb446a,#953050,#7c2343);
    height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;
}
.cashtable{
    width:80%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}
.middlerow,.lastrow{
    background-color: rgba(240, 240, 240, 0.745);

}
.middlerow:hover{
    background-color: rgba(230, 227, 227, 0.745);

}
.cashtable th,.cashtable td{
 padding: 10px;
 
}
.firstrow  {    
background-color: #99a5ee63;
 
}