.report_topic{
text-align: center;
font-size: 50px;
font-family: Kaushan Script;
margin:5% 5% 5% 0%;
} 
.details{
    margin: 5%;
}
.reporttable th{
    background-color: #d1d2d3;
}
.reporttable th,.reporttable td{
    border:1px solid;
    padding: 5px;

}

.table_topic{
    margin: 5%;
}
.reporttable{
    margin:auto;
    width: 80%;
    text-align: center;
}
.downloadbtn{
    background-color: #953050;
    margin: 10%;
    color: white;

}
.resetbtn{
    background-color: #953050;
    color: white;
}
.downloadbtn:hover,.resetbtn:hover{
    background-color: #aa4a68;
    border-color: #aa4a68;
   

}
@media (max-width:768px) {

    .report_topic{
        font-size: 40px;
        } 
     
        .table_topic{
         font-size: 25px;
        }
        .reporttable{
            font-size: 12px;

        }
        .downloadbtn,.resetbtn{
          font-size: 12px;
        }
        .details{
            font-size: 15px;
        }
        
    
}